body {

background-color: black;
color: white;
}

body::after {
  content: "";
  background: url("skyline.png");
	background-repeat: no-repeat;
	background-position: 18em 29em;
  background-size: 43em 42em;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#mainPageTitle {
	align-items: center;
	display: flex;
	height: 40rem;
	justify-content: center;
	text-align: center;
}

.textTitle {
	color: #FF00E1;
	font-family: 'Sonsie One', cursive;
	font-size: 5.4em;
}

.mainText {
  font-family: 'Raleway', sans-serif;
  font-size: 4rem;
  font-weight: bolder;
}

.textParams1 {
	color: #FF00E1;
	left: 13em;
	position: relative;
	margin: 1em auto;
	top: -11em;
  width: 27rem;
}

.textParams2 {
	color: #DA00FF;
	left: 13em;
  position: relative;
  margin: 1em auto;
  top: -11em;
  width: 17rem;
}

.textParams3 {
	color: #8000FF;
	left: 18em;
	position: relative;
	margin: 1em auto;
	top: -11em;
  width: 24rem;
}

.textParams4 {
	color: #8000FF;
	left: 16em;
	position: relative;
	margin: 1em auto;
	top: -11em;
  width: 27rem;
}

.textParams5 {
	color: #2500FF;
	left: 15em;
	position: relative;
	margin: 1em auto;
	top: -11em;
  width: 17rem;
}

.textParams6 {
	color: #008FFF;
	left: 8em;
	position: relative;
	margin: 1em auto;
	top: -11em;
  width: 9rem;
}

#textOne,
#textFour {
	align-items: center;
	display: flex;
	justify-content: center;
}

#textTwo {
	align-items: center;
	display: flex;
	justify-content: flex-start;
}

#textThree,
#textFive {
	align-items: center;
	display: flex;
	justify-content: flex-end;
}

#bubbleHolder {
	left: 0;
	position: absolute;
	top: 0;
}

.bubble {
	align-items: center;
	border-top-right-radius: 34em;
	border-bottom-right-radius: 34em;
	display: flex;
	height: 50em;
	width: 37em;
}

.imgbubble {
	border-radius: 2000px;
	height: 30em;
	width: 30em;
}

.imgfront {
	align-items: center;
	border-radius: 2000px;
	display: flex;
	height: 32em;
	justify-content: center;
	position: absolute;
	width: 35em;
}

.one {
	/*background: radial-gradient(circle at 100px 100px, #DE64E0, transparent);*/
	position: relative;
	top: 27em;
}


.img {
	background-color: #000;
}

.img {
	transform: perspective( 600px ) rotateX(-27deg) rotateY(-24deg );
	transition: transform 1s linear 0s;
}
